* {
active-background: #3a494d;
active-foreground: #e3e2e2;
normal-background: #121414;
normal-foreground: #e3e2e2;
urgent-background: #ffb4ab;
urgent-foreground: #690005;

selected-active-background: #233336;
selected-active-foreground: #b8cacd;
selected-normal-background: #51838d;
selected-normal-foreground: #e3e2e2;
selected-urgent-background: #93000a;

background-color: #121414;
background: rgba(0,0,0,0.7);
foreground: #e3e2e2;
border-color: rgb(58, 73, 77);
}
